<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.user.offplayer">

    <!--안드로이드 미디어 저장소 동적 권한 요청-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 안드로이드 wakeMode 사용:  cpu 사용 최소화 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".AudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REWIND"/>
                <action android:name="TOGGLE_PLAY"/>
                <action android:name="FORWARD"/>
                <action android:name="CLOSE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--인트로 화면 시작-->
        <activity android:name=".Intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <receiver
            android:name=".MyAppWidgetProvider"
            android:label="4x1 Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="PREPARED"/>
                <action android:name="PLAY_STATE_CHANGED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_4x1"/>
        </receiver>



        <receiver android:name=".MyAppWidgetProvider" />
        -->
    </application>

</manifest>